.pio/
.vscode/
firmware/.pio/
firmware/.vscode/
**/*.bin
**/*.elf

__pycache__/
*.py[cod]
*$py.class
venv/
.env

.DS_Store
Thumbs.db
.idea/

certs/**/*.key
firmware/include/secrets.h
firmware/src/secrets.cpp
*.pem
*.crt
*.code-workspace
medical_data_lake.db
backend/medical_data_lake.db
